deprecation==2.1.0
fpdf==1.7.2
matplotlib==3.7.0
networkx==2.5
numpy==1.21.2
Pebble==5.0.3
pm4py==2.7.4
psutil==5.9.4
# PySimpleGUI==4.60.4
PySimpleGUI==5.0.4
scipy==1.13.0
torch==2.0.1
torch_geometric==2.3.1
tqdm==4.64.1
